* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Outfit", sans-serif;
  font-size: 28px;
}

body {
  background-color: #d5e1ef;
}
.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  background: #ffffff;
  border-radius: 26px;
  padding: 22px 23px;
}

.container img {
  max-width: 100%;
  margin-bottom: 33px;
}

.text-header {
  font-weight: 700;
  text-align: center;
}

.last-line {
  margin-bottom: 19px;
}

.text-subheader {
  font-weight: 100;
  font-size: 20px;
  text-align: center;
  margin-bottom: 20px;
}

@media screen and (min-width: 760px) {
  .container {
    width: 420px;
  }

  .container img {
    width: 374px;
  }

  .text-subheader {
    width: 348px;
  }
}
